<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Wander Lust</title>
</head>

<body>
    <h3>New Listing</h3>
    
    <form method="post" action="/listings">
        <label for="title">Title</label><br><input type="text" name="Listing[title]" placeholder="Enter Your Title"><br><br>
        <label for="description"></label> Description</label><br>
       
            <input type="text" name="Listing[description]" placeholder="Enter description">
            <br><br>

            <label for="">Image</label>
            <br>
            <input type="text" name="Listing[image]" placeholder="Enter image URL/Link">
            <br><br>
            <label for="price">Price</label><br>
            <input type="number" name="Listing[price]" placeholder=""><br><br>

            <label for="country">Country</label><br>
            <input type="text" name="Listing[country]" placeholder="Enter country name"><br><br>
            <label for="location">Location</label><br>
            <input type="text" name="Listing[location]" placeholder="Enter location">


 <br><br>
           


 <input type="submit" value="add">
    </form>

    
           
           

    

</body>

</html>